html {
  background: url(background.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Anton', sans-serif;
  font-weight: bold;
  color: #ff8c1a;
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-size: 3em;
  text-decoration: underline;
  text-shadow: rgba(0, 0, 0, 0.2) 2px 8px 6px, rgba(255, 255, 255, 0.3) 0px -5px 35px;



}

h2 {
  font-size: 2em;
  text-shadow: rgba(0, 0, 0, 0.2) 2px 8px 6px, rgba(255, 255, 255, 0.3) 0px -5px 35px;

}

hr {
  border: 10px solid orange;
  border-radius: 5px;
}

.main-menu {
  padding: 0 1.5em;
}

/*************************GRIDS*********************/

.wrapper{
  display: grid;
  grid-template-columns: auto auto;
  margin: 2em;
}

.container1{
  display: grid;
  grid-template-columns: auto auto auto;
  overflow: hidden;
  margin: 1em;
}

.container2{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  overflow: hidden;
  margin: 1em;

}

/***************************************************/

/***********************REUSABLE********************/
.center-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.border{
  border: 5px solid red;
  margin: 1em;
}

.img{

  height: auto;
  width: auto;
}

.text-size{
  font-size: 30px;
}

.box-shadow {
  box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
  margin: 2em;
  margin-left: auto;
  margin-right: auto;
}

.border {
border-style:solid;
border-color: #d63b0f;
padding: 1em;
}

.txtdec {
  color: #ff8c1a;
}

/***************************************************/






/*********************HEADER/FOOTER****************/
.main-menu {
  text-align: center;
  margin: 1em 0;
}

.menu-item {
  text-align: center;
  line-height: 2.5;
  display: inline-block;
  background-color: #b30000;
  min-width: 12em;
  margin: 0;
  margin-left: 35px;
  margin-right: 35px;

}

.menu-item a {
  color: #222;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 0 1em;
}

.menu-item a:hover {
  background-color: orange;
  text-decoration: underline;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #ff8c1a;
   color: white;
   text-align: center;
   padding: 2em;
}

/*****************************************************/

/********************DECORATION***********************/
.sexy-line{
    display:block;
    border:none;
    color:white;
    height:5px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#e60000), to(#ff3300));
    margin: 2em;
    /**    http://jsfiddle.net/JoshMesser/55ZfK/    **/
}


/*****************************************************/
